#stamp {
  border-style: ridge;;
  border-width: medium;
  float:right;
}

#greetings {
  text-align: center;
  margin-top: 150px;

}

#letter-text {
  margin-top: 60px;
  margin-bottom: 200px;
  /*border-right: 5px dashed black; */
}

#address-text {
  margin-top: 60px;
}

#postcard {
  border-style: dashed;
  background: url("../img/postcard-image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}


/*
.postcard {
  background: url("../img/postcard-body.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
*/
